.progBar {
  height: 15px;
  background: var(--shadow);
  width: 100%;
  border-radius: 50px;
  position: relative;
  .animationDiv {
    border-radius: 50px;
    height: 100%;
    width: 120px;
    background: var(--dark-600);
    overflow: hidden;
  }
}
